* {
    margin: 0;
    padding: 0;

}

body {
    height: 29.7cm;
    width: 21cm;
    margin: 5mm;
    /* change the margins as you want them to be. */
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 95%;

}



.border {
    border: 1px solid black;
    padding: 2px;
}

.bold {
    font-weight: 800;
}

.track_num {
    font-size: 40px;
    margin-right: 10px;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {

    width: 40mm;
}

.logo-img {
    width: 40mm;

}

.between {
    justify-content: space-between;
}

.title {
    font-size: 10px;
}

.table-header {
    font-size: 14px;
    margin: 7px 0px;
}

table {
    font-size: 12px;

}

table,
tr,
td {
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}

.td-header {
    font-size: 10px;
    font-weight: 300;
}

.table-container>div>table {
    width: 9.7cm;
}

.around {
    justify-content: space-around;
}

.table-info-text-container {
    width: 30%;
}

.cargo-info {
    padding: 4px;
    text-align: center;
    font-size: 16px;
}

.center {
    text-align: center;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 4px;
    height: 7px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-table-header {
    font-size: 12px;
    font-weight: 400;
}

.notes-field {
    height: 20px;
    margin-bottom: 2px;
}

.small-ol {
    font-size: 8px;
    font-weight: 300;
    padding-left: 8px;
    margin: 0;
}

.small {
    font-size: 8px;
    font-weight: 300;
    line-height: 12px;
}

.margin {
    margin: 4px;
}

.even {
    justify-content: space-evenly;
}

.width {
    width: 100%;
}

.my-5 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-1 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.mx-5 {
    margin-right: 30px;
    margin-left: 30px;
}

.predstavitel {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

.client-sign {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

.sign {
    width: 80px;
    position: absolute;
    top: -43px;
    right: 10px;

}

.stamp {
    width: 38mm;
    height: 37mm;
    position: absolute;
    top: -80px;
    right: 20px;

}

.cut-line {
    border-top: 2px dashed black;
    margin-top: 30px;
}

.cargo-info {
    font-size: 12px;
}

.mr-5 {
    margin-right: 10px;
}
